@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/helpers';

.header {
	width: 100%;
}
.container {
	height: 100px;
}

.fixed {
	background-color: $white;
  height: 100px;
	width: 100%;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	@include breakpoint-tablet() {
		position: static;
		width: auto;
	}
}

.show{
	z-index: 51;
	width: 100%
}

.button {
	@include breakpoint-tablet() {
		display: none;
	}
}

.fixedShadow {
	background-color: $white;
	animation: fade-in 0.5s ease-in-out both;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.nav {
	position: absolute;
	z-index: 50;
  width: 100%;
  min-height: 100vh;
	top: 0;
	left: 0;
	background-color: $white;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	text-align: center;
	@include breakpoint-tablet() {
		background: transparent;
		display: flex;
		flex-direction: row;
		height: auto;
		width: auto;
		position: static;
		padding: 0;
	}

	a {
		padding: 2rem 0;
		width: 100%;
		font-size: 2rem;
		font-weight: bold;
		@include breakpoint-tablet() {
			font-size: 1.2rem;
			padding: 1rem 1.5rem;
		}
		@include breakpoint-desktop() {
			padding: 1rem 2rem;
		}

		&:last-of-type {
			padding-right: 0;
		}
		&:hover {
			color: $text-light;
		}
	}
}

.visible {
	display: flex;
}

@keyframes fade-in {
  0% {
    transform: translateY(-100px);
		box-shadow: none;
    opacity: 0;
  }
  100% {
    transform: translateY(0);
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14), 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
}