@import '../../../styles/variables';
@import '../../../styles/mixins';

.social {
	width: 100%;
	display: flex;
	flex-direction: column;
  @include breakpoint-tablet() {
		flex-direction: row-reverse;
	}
}

.titleContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40vh;
	background-color: $light-bg;
	text-align: center;
	font-weight: 600;
  @include breakpoint-tablet() {
    width: 45%;
    height: 60vh;
  }
}

.title {
	font-size: 2rem;
  @include breakpoint-tablet() {
    font-size: 2.5rem;
  }
	@include breakpoint-desktop() {
		font-size: 3rem;
    width: 50%;
	}
	span {
		font-weight: bold;
		color: $primary;
		&:last-of-type {
			color: $secondary;
		}
	}
}

.woloxers {
	width: 100%;
	overflow: hidden;
	height: 40vh;
	margin: 0;
	position: relative;
	display: flex;
	align-items: center;
  @include breakpoint-tablet() {
    width: 55%;
    height: 60vh;
  }
	.imgWoloxer {
		width: 100%;
		min-height: 100%;
		max-width: initial;
		position: absolute;
		top: 0;
		left: 0;
	}
	.inner {
		position: absolute;
		z-index: 10;
		left: 50%;
		transform: translate(-50%, 0);
		width: 90%;
    text-align: center;
	}
	h2.woloxersTitle {
		text-align: center;
    @include breakpoint-tablet() {
      margin-bottom: 2rem;
    }
		span {
			font-size: 2rem;
      @include breakpoint-tablet() {
        font-size: 2.5rem;
      }
      @include breakpoint-desktop() {
        font-size: 4rem;
      }
			font-weight: bold;
			color: $secondary;
			&:last-of-type {
				color: $primary;
			}
		}
	}
}

.button {
	color: $white;
	background-color: transparent;
  max-width: 200px;
  @include breakpoint-desktop() {
    max-width: 350px;
  }
}

.twitter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  @include breakpoint-desktop() {
    margin: 1rem 0;
  }
	.twitterImg {
		width: 33px;
		height: 33px;
    @include breakpoint-desktop() {
      width: 44px;
      height: 44px;
    }
	}
  p{
    padding-left: 1rem;
    display: inline;
  }
}
