.container {
	width: 100%;
	max-width: 1700px;
	padding-left: 1rem;
	padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}