$primary: #2AA7DF;
$primary-light: #15C2FF;
$primary-dark: #198ABD;
$secondary: #97CF00;
$text: #1B263C;
$text-light: #596C93;
$outline: #DCE8FF;
$light-bg: #F2F5FA;
$white: #fff;
$fwhite: #fafafa;

$line: #EFF1F5;
$gray: #D3D3D3;

