@import '../../../styles/variables';

.base {
	width: 100%;
	min-width: 250px;
	max-width: 300px;
	border-radius: 1.5rem;
	border: 2px solid $primary;
	color: $white;
	background-color: $white;
	height: 44px;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: pointer;
	transition: $animation-1;
	&:hover {
		background-color: $primary-light;
		border: 1px solid $primary-light;
		color: $white;
		box-shadow: $shadow-3;
	}
	&:active {
		border: 1px solid $primary-dark;
		background-color: $primary-dark;
		box-shadow: $shadow-1;
	}
}

.buttonDefault {
	@extend .base;
	background-color: $primary;
}

.buttonDefaultOutline {
	@extend .base;
	color: $primary;
}

.buttonDisabled {
	@extend .base;
	background-color: $gray;
	pointer-events: none;
  border: $gray;
	&:hover {
		background-color: $gray;
		border: 1px solid $gray;
		color: $white;
	}
	&:active {
		border: 1px solid $gray;
		background-color: $gray;
	}
}

.none {
	background-color: transparent;
	border-color: transparent;
}

.buttonIcon {
	@extend .none;
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
