@import '../../../styles/mixins';
.clean {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/img/bgs/Bg_Header.png');
  @include breakpoint-tablet() {
    background-image: url('/assets/img/bgs/Bg_Header@2x.png');
    background-size: contain;
    margin: 2rem 0;
  }
  @include breakpoint-desktop() {
    background-image: url('/assets/img/bgs/Bg_Header@3x.png');
  }
}